/* https://ncs.go.kr/index.do */

/* 1. 웹 폰트 선언 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
/* 2. 디자인 시작시 기본 선언 */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    font-family: 'Noto Sans KR', sans-serif;
    width: 100%;
    min-width: 320px; /* 모바일 환경을 고려해서, 가장 작은 최소 크기. 적용될 일이 많지는 않다. */
}
img {
    max-width: 100%; /* 사이즈가 변했을 때 넓이 유지 */
    height: auto; /* 가로 길이에 맞춰 높이는 자동으로 변경 */
}
input, textarea, button, select { 
    /* 
        브라우저별로 고유하게 적용되는 form관련 요소들의 css제거 
        크로스 브라우징을 위해 필요하다.

        9년전 글이지만 아주 유용하다.
        https://dolly77.tistory.com/9
    */
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-apperence: none;
}
ul, li, dl, ol {
    list-style: none; /* 순서 요소들의 리스트 스타일 제거 */
}
section {
    margin-top: 52px;
}
/* 버튼과 input태그의 윤곽 변경  */
.btn {
    border-radius: 0px;
}
.form-control {
    border-radius: 0px;
}


/* -------------------------위쪽 헤더------------------------- */
.header_col1 {
    background-color: #eee;
    overflow: hidden;
    height: 52px;
    line-height: 52px;
}

.top_width > ul > li.on {
    /* 선택자를 붙여서 사용하면, li 태그 안의 클래스가 on인 요소를 선택 */
    border-top: 1px solid #d2d0d0;
    line-height: 42px;
    border-left: 1px solid #d2d0d0;
    border-right: 1px solid #d2d0d0;
    border-bottom: 1px solid #fff;
    background: #fff;
    font-weight: 500;

    border-bottom: 5px solid #037fc3;
}

.top_width > ul > li {
    display: inline-block;
    width: 135px;
    text-align: center;
    font-weight: 500;
}

.top_width > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    color: #666;
}

.top_width { 
    overflow: hidden;
    width: 1240px;
    margin: 0 auto;
}
.fl_left { float: left;}
.fl_right { float: right;}

.fl_right > a {
    text-decoration: none;
    background-color: #fff;
    color: #666;
    padding: 7px;
    border: 1px solid #d0d0d0
}


/* -------------------------아래쪽 헤더------------------------- */
.top_hide {
    display: none;
}

.logo {
    float: left; /* 부모 요소(top_width)에 overflow:hidden */
}

.logo a {
    display: block;
    background-image: url("../img/logo.png");
    width: 200px;
    height: 33px;
    margin: 23px 0 0; /* 위, 왼쪽, 아래 */
    background-repeat: no-repeat;
}

.top_menu {
    float: left;
    margin-left: 30px;
}

.top_menu > ul > li {
    display: inline-block;
}

.top_menu > ul > li > a {
    /* a 태그에 넓이 설정을 해주는 이유는 마우스 클릭이 가능하도록 하기 위해서 */
    display: block;
    height: 80px;
    line-height: 80px;
    padding: 0 5px;
    margin: 0 10px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
}

.top_menu > ul > li > a:hover {
    color: #39f;
}


/* -------------------------헤더2 디자인------------------------- */
.navbar {
    margin: 0px;
}
/* 배경색 */
.custome_header {
    background-color: #263238;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 50;
}

/* a태그 색상 */
.custome_header nav a {
    color: white;
}

/* 이미지 위치 조정 */
.navbar-brand {
    padding: 10px 15px;
}

/* 마우스 호버, 포커스 시 백그라운드 색상변경 */
.custome_header .nav > li > a:hover,
.custome_header .nav > li > a:focus {
    background-color: #304047;
}

/* 모바일환경에서 메뉴 윤곽선 */
.custome_header .navbar-toggle,
.custome_header .navbar-toggle .icon-bar {
    color: #aaa;
    border: 1px solid #aaa;
}

.dropdown-menu > li > a {
    color: #333;
}
@media(max-width: 767px) {
    .dropdown-menu > li > a {
        color: #eee;
    }
}


/* -------------------------footer------------------------- */
footer {
    background-color: #263238;
    color: #eee;
    padding: 40px 0;
}
footer .copyright {
    font-size: 15px;
    font-weight: 500;
}

footer .footer-menu > li {
    display: inline-block;
}
footer .footer-menu > li > a {
    display: block;
    color: #eee;
    padding: 0 15px;
}

/* -------------------------index(main)------------------------- */
/* ====== 슬라이더 영역 ====== */
.slider-list {
    padding: 0px;
}

/* 슬라이드 이동 화살표 영역 그라데이션 삭제 */
.carousel-control.right,
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%);
}

/* ====== 메인 상품 리스트 영역 ====== */
.prod-wrap, .prod-inner > a{
    border: 1px solid #d0d0d0;
}

.prod-wrap, .prod-inner {
    padding: 5px;
}

.prod-inner > a {
    display: block;
    text-align: center;
    position: relative;
}

.prod-inner > a > .arrow {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background-color: #ccc;
    color: #fff;
    position: absolute;
    bottom: 15px;
    left: 15px
}

.prod-inner > a > .hover {
    width: 100px;
    background-color: #037fc3;
    opacity: 0; /* 0이명 투명, 1이면 기본 */
}

.prod-inner > a:hover > .arrow { /* 마우스가 hover 되었을 떄 자식 요소의 스타일을 변경 */
    opacity: 0;
}

.prod-inner > a:hover > .hover {
    opacity: 1;
}

.prod-inner > a:hover {
    border: 1px solid #037fc3;
}

/* ====== 블로그 그리드 영역 ====== */
@media (min-width: 1200px) {
    .blog-grid > li {
        width: 20%;
    }
}

.blog-inner {
    border: 1px solid #ccc;
    position: relative;
    text-align: center;
}

.blog-content {
    padding: 15px;
    position: relative;
}

.blog-content p {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
}

.blog-info{
    padding-top: 10px;
    position: relative;
    overflow: hidden;
}

.blog-info span {
    float: left;
    color: gold;
}

.blog-info strong {
    float: right;
}

.blog-content-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top : 0;

    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
}

.blog-content-hover a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    text-decoration: none;
    color: white;
}

.blog-content-hover:hover {
    opacity: 1;
}


/* ====== 블로그 그리드 영역 (해답) ====== */
@media(min-width:1200px) {
    .a-blog-style > li[class*="col-lg-2"] { /* 클래스 이름에 'col-'가 포함되어 있다면 */
        width: 20%;
    }
}

.a-blog-wrap {
    border: 1px solid #d2d2d2;
    position: relative;
    margin-bottom: 30px;
}

.a-blog-wrap > .a-blog-content {
    padding: 15px;
}

.a-blog-wrap > .a-blog-content > p {
    font-size: 15px;
    font-weight: bold;
    min-height: 70px; /* 최소크기 */
}

.a-blog-info {
    overflow: hidden;
}

.a-blog-info > ul {
    float: left;
}

.a-blog-info > strong {
    font-size: 15px;
    font-weight: bold;
    float: right;
}

.a-blog-info > ul > li {
    display: inline-block;
    color: #fdcc11;
}

.a-blog-wrap > .a-blog-img {
    text-align: center;
}

.a-blog-content-hover {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;

    padding: 20px;

    opacity: 0;
}

.a-blog-content-hover > a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: bold;

    display: block;
    width: 100%;
    height: 100%;
}

.a-blog-wrap:hover > .a-blog-content-hover {
    opacity: 1;
}